<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boom</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <style>
        body {
            width: 100%;
        }
        div {
            font-size: 25px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            color: green;
            font-family: 700;
        }  
    </style>
</head>
<body background='./image/boom.gif'>
    <audio id="aud" src="./image/boom.mp3" preload="auto" loop="loop" autoplay="autoplay"></audio>
    <div>黄卉大笨蛋!</div>
</body>
<script>
    var aud = document.getElementById('aud')      
    document.addEventListener('WeixinJSBridgeReady', function () {
        aud.play()
    }, false)
</script>
</html>
