<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=yes">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="address=no;">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <title>Document</title>
</head>
<body>
    <!--<a href="tel:+8618612213010">-->
        <div id="phone">18612213010</div>
    <!--</a>-->
    <script>
        document.getElementById('phone').addEventListener('click', () => {
            window.location.href = "tel:+8618612213010"
        }, false)
    </script>
</body>
</html>