<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>目录</title>
    <link rel="shortcut icon" href="./favicon.ico" />
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            padding: 40px;
            font-size: 0;
            background: #f5f5f5;
        }
        h2 {
            font-weight: normal;
            font-size: 18px;
            color: #000;
        }
        a {
            text-decoration: none;
            color: #212121;
            display: inline-block;
            padding: 10px 15px;
            border-radius: 8px;
            border: 1px solid #f9d158;
            font-size: 14px;
            margin: 20px 20px 0 0;
            background: #f9d158;
        }
        a.disable {
            border-color: gray;
            color: #fff;
            background: gray;
        }
        p {
            margin-top: 30px;
            color: red;
            font-size: 18px;
            font-weight: bold;
        }
        img {
            width: 100px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h2>作品或项目链接</h2>
    <!-- <a href="https://github.com/hzz520/canvasForAlibaba">选座位github地址</a> -->
    <a href="/jianli">简历预览</a>
    <a href="/blogs">我的个人博客</a>
    <a href="/admin">后台管理(账号admin,密码admin)</a>
    <a href="/egret">白鹭引擎(手机端效果更佳)</a>
    <a href="http://zyj.8864.com/dist/main/html/">捉妖记(手机端)</a>
    <a href="/react-shopping">商城前端</a>
    <!--<a href="http://share.hellozhibo.com/v2/share/video/38393">音浪分享(php内嵌页)</a>-->
    <!-- <a href="/webIm.html">环信webim(请仅对超神的小贞哥聊天这是本人的音浪号)</a> -->
    <!-- <a class='disable'>小程序已上线(搜索小青生活馆)</a> -->
    <p>(主要用的的技术有express、react、redux、webpack、mongodb、jquery等)</p>
</body>
</html>